@charset "UTF-8";

/*-----------------------------------------------------------------------------------

	Author: @ben_bate
	Author URL: http://benbate.com
	
-----------------------------------------------------------------------------------*/


/*------ CSS RESET ------*/

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed, */
/*figure, figcaption, footer, header, hgroup, */
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*border: 0;*/
	/*font-size: 100%;*/
	/*font: inherit;*/
	/*vertical-align: baseline;*/
	/*text-decoration: none;*/
/*}*/
/*article, aside, details, figcaption, figure, */
/*footer, header, hgroup, menu, nav, section {*/
	/*display: block;*/
/*}*/
/*body {*/
	/*line-height: 1;*/
/*}*/
/*ol, ul {*/
	/*list-style: none;*/
/*}*/
/*blockquote, q {*/
	/*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
	/*content: '';*/
	/*content: none;*/
/*}*/
/*table {*/
	/*border-collapse: collapse;*/
	/*border-spacing: 0;*/
/*}*/


/*------ BEGIN MAIN CSS ------*/


/*------ GENERAL ------*/

@font-face { font-family: 'TI'; src: url('fonts/typicons-regular-webfont.ttf'); } 

body {
	background-color: #fff;
	margin: 0 auto;
	 -webkit-animation-name: bodyAnim;
    -moz-animation-name: bodyAnim;
    -ms-animation-name: bodyAnim;
	-o-animation-name: bodyAnim;
	animation-name: bodyAnim;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s; 
}

@-webkit-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@-moz-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@-o-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

p {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #5d6778;
	line-height: 20px;
}

a {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #5d6778;
}

.bold {
	font-family: 'Open Sans';
	font-weight: 600;
}

.icon {
	font-family: 'TI';
	font-size: 20px;
	color: #5d6778;
	float: right;
}

#container {
	width: 700px;
	height: auto;
	margin: 0 auto;
}


/*------ HEADER ------*/

header#background {
	position: absolute;
	top: 0;
	left: 0;
	height: 500px;
	width: 100%;
	background-color: #EEF4F7;
	z-index: -9999;
}

header#left {
	width: 220px;
	margin-top: 130px;
	-webkit-animation-name: headerleftAnim;
    -moz-animation-name: headerleftAnim;
    -ms-animation-name: headerleftAnim;
	-o-animation-name: headerleftAnim;
	animation-name: headerleftAnim;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	-ms-animation-duration: 0.75s;
	-o-animation-duration: 0.75s;
	animation-duration: 0.75s;
	z-index: 999;
}

@-webkit-keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-moz-keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-o-keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

header#left img {
	margin-bottom: 30px;
}

header#left p {
	margin-bottom: 50px;
}

a.button {
	color: #fff;
	padding: 16px;
	border-radius: 5px;
	background: #4477C8;
	height: 54px;
	width: 100px;
	font-family: 'Open Sans';
	-o-transition:color .2s ease-out, background 0.1s ease-in;
	-ms-transition:color .2s ease-out, background 0.1s ease-in;
	-moz-transition:color .2s ease-out, background 0.1s ease-in;
	-webkit-transition:color .2s ease-out, background 0.1s ease-in;
	transition:color .2s ease-out, background 0.1s ease-in;
}

a.button:hover {
	background: #5D6778;
}

a.button:active {
	padding: 15px;
	margin-left: 1px;
}

p#snippet {
	margin: 25px 0 0 37px;
	font-size: 11px;
	opacity: 0.75;
}

header#right {
	width: 417px;
	height: 433px;
	background-image: url(images/iphone.png);
	background-size: 417px 433px;
	margin-top: 67px;
	-webkit-animation-name: headerrightAnim;
    -moz-animation-name: headerrightAnim;
    -ms-animation-name: headerrightAnim;
	-o-animation-name: headerrightAnim;
	animation-name: headerrightAnim;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	-ms-animation-duration: 0.75s;
	-o-animation-duration: 0.75s;
	animation-duration: 0.75s;
	z-index: 999;
}

@-webkit-keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-moz-keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-o-keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

header#right img {
	margin: 133px 0 0 39px;
}


/*------ MAIN ------*/

#main {
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 40px;
}

.box {
	margin: 0px 65px 50px 0px;
}

.boxnomargin {
	width: 190px;
	height: 120px;
	float: left;
	margin: 0px 0px 50px 0px;
}

p.title {
	margin-bottom: 15px;
	font-weight: 600;
}

p.info {
	font-family: 'Open Sans';
	opacity: 0.8;
}


/*------ FOOTER ------*/

p.left {
	float: left;
	margin-bottom: 50px;
	font-family: 'Open Sans';
	opacity: 0.75;
}

p.right {
	float: right;
	margin-bottom: 50px;
	font-family: 'Open Sans';
	opacity: 0.75;
}

p.right a {
	opacity: 0.75;
	-o-transition:opacity .2s ease-out, background 0.5s ease-in;
	-ms-transition:opacity .2s ease-out, background 0.5s ease-in;
	-moz-transition:opacity .2s ease-out, background 0.5s ease-in;
	-webkit-transition:opacity .2s ease-out, background 0.5s ease-in;
	transition:opacity .2s ease-out, background 0.5s ease-in;
}

p.right a:hover {
	opacity: 1;
}
