@charset "UTF-8";
/*------ GENERAL ------*/
@font-face { font-family: 'TI'; src: url('fonts/typicons-regular-webfont.ttf'); } 

body {
	background-color: #fff;
	margin: 0 auto;
	 -webkit-animation-name: bodyAnim;
    -moz-animation-name: bodyAnim;
    -ms-animation-name: bodyAnim;
	-o-animation-name: bodyAnim;
	animation-name: bodyAnim;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s; 
}

@-webkit-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@-moz-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@-o-keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes bodyAnim {
	0%   { opacity: 0;}
	100% { opacity: 1;}
}

p {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #5d6778;
	line-height: 1.3em;
}

a {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #5d6778;
  text-decoration: none;
}

.bold {
	font-family: 'Open Sans';
	font-weight: 600;
}

.icon {
	font-family: 'TI';
	font-size: 20px;
	color: #5d6778;
	float: right;
}

#container {
  width: 960px;
  height: auto;
	margin: 20px auto;
}


/*------ HEADER ------*/

header#background {
	position: absolute;
	top: 0;
	left: 0;
	height: 800px;
	width: 100%;
	background-color: #EEF4F7;
	z-index: -9999;
}

header#apava {
	/*margin: 130px 20px 0 20px;*/
  padding:130px 50px 0;
	-webkit-animation-name: headerleftAnim;
    -moz-animation-name: headerleftAnim;
    -ms-animation-name: headerleftAnim;
	-o-animation-name: headerleftAnim;
	animation-name: headerleftAnim;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	-ms-animation-duration: 0.75s;
	-o-animation-duration: 0.75s;
	animation-duration: 0.75s;
	z-index: 999;
  text-align:center;
}

@-webkit-keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-moz-keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-o-keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@keyframes headerleftAnim {
	0%   { opacity: 0; -webkit-transform: translateX(-100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

header#apava img {
	margin-bottom: 30px;
}

header#apava p {
	margin-bottom: 50px;
}

a.button {
	color: #fff;
	padding: 16px;
	border-radius: 5px;
	background: #4477C8;
	height: 54px;
	width: 100px;
	font-family: 'Open Sans';
	-o-transition:color .2s ease-out, background 0.1s ease-in;
	-ms-transition:color .2s ease-out, background 0.1s ease-in;
	-moz-transition:color .2s ease-out, background 0.1s ease-in;
	-webkit-transition:color .2s ease-out, background 0.1s ease-in;
	transition:color .2s ease-out, background 0.1s ease-in;
}

a.button:hover {
	background: #5D6778;
}

a.button:active {
	padding: 15px;
	margin-left: 1px;
}

p#snippet {
	margin: 25px 0 0 37px;
	font-size: 11px;
	opacity: 0.75;
}

header#appro {
	background-image: url(images/phone_small.png);
	background-size: 320px 673px;
  width: 320px;
  height: 673px;
	-webkit-animation-name: headerrightAnim;
    -moz-animation-name: headerrightAnim;
    -ms-animation-name: headerrightAnim;
	-o-animation-name: headerrightAnim;
	animation-name: headerrightAnim;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	-ms-animation-duration: 0.75s;
	-o-animation-duration: 0.75s;
	animation-duration: 0.75s;
	z-index: 999;
  position: relative;

  -moz-transition: left 1.5s ease-in-out;
  -webkit-transition: left 1.5s ease-in-out;
  transition: left 1.5s ease-in-out;
}
header#appro img {
  display: block;
  position: absolute;
	margin: 98px 0 0 29px;
  top: 0;
  left: 0;

  -moz-transition: left 1.5s ease-in-out;
  -webkit-transition: left 1.5s ease-in-out;
  transition: left 1.5s ease-in-out;
  z-index: 10;
}


@-webkit-keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-moz-keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@-o-keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}

@keyframes headerrightAnim {
	0%   { opacity: 0; -webkit-transform: translateX(100px); }
	100% { opacity: 1; -webkit-transform: translateX(0px); }
}


/*------ MAIN ------*/

#main {
	border-bottom: 1px solid #e0e0e0;
	margin: 40px 0;
}

.box {
  margin: 0 0 5em 0;
}
.box h1 {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid #8058A5;
  text-align:center;
  line-height: 2em;
  margin: auto;
}

p.title {
	margin-bottom: 15px;
	font-weight: 600;
}

p.info {
	font-family: 'Open Sans';
	opacity: 0.8;
}


/*------ FOOTER ------*/

p.left {
	float: left;
	margin-bottom: 50px;
	font-family: 'Open Sans';
	opacity: 0.75;
}

p.right {
	float: right;
	margin-bottom: 50px;
	font-family: 'Open Sans';
	opacity: 0.75;
}

p.right a {
	opacity: 0.75;
	-o-transition:opacity .2s ease-out, background 0.5s ease-in;
	-ms-transition:opacity .2s ease-out, background 0.5s ease-in;
	-moz-transition:opacity .2s ease-out, background 0.5s ease-in;
	-webkit-transition:opacity .2s ease-out, background 0.5s ease-in;
	transition:opacity .2s ease-out, background 0.5s ease-in;
}

p.right a:hover {
	opacity: 1;
}










.notification {
  background: none repeat scroll 0 0 #1F8DD6;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 0.3em 1em;
}

.hero {
  text-align: center;
  /*background: #fafafa;*/
}

.hero-titles {
  font-family: "omnes-pro",sans-serif;
}

.hero h2 {
  color: #666666;
  font-size: 260%;
  font-weight: 100;
}

/**
 * Color bar
 *
 */
.colorbar {
  position: abosolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.colorbar > div {
  height: 4px;
}

.colorbar > div:nth-child(6n) {
  background: #67C2F0; 
}
.colorbar > div:nth-child(6n+1) {
  background: #8058A5;
}
.colorbar > div:nth-child(6n+2) {
  background: #5EB95E;
}
.colorbar > div:nth-child(6n+3) {
  background:#DD514C;
}
.colorbar > div:nth-child(6n+4) {
  background: #F37B1D;
}
.colorbar > div:nth-child(6n+5) {
  background: #FAD232;
}

/**
 * Twingle module
 */
.twinkle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #8058A5;
  position: absolute;
  top: 0;
  left: 0;
  display:none;
  z-index: 9999;
  margin: 98px 0 0 29px;  
}

/**
 * Button module
 */
.bookmarklet-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 1.5em;
}
.pure-button {
  -webkit-user-drag: auto;

}
.pure-button-success,
        .pure-button-error,
        .pure-button-warning,
        .pure-button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .pure-button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .pure-button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .pure-button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .pure-button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
.pure-button-xsmall {
            font-size: 70%;
        }

        .pure-button-small {
            font-size: 85%;
        }

        .pure-button-large {
            font-size: 110%;
        }

        .pure-button-xlarge {
            font-size: 125%;
        }

.pure-button-a {
    background: #e1f2fa;
    color: #5992aa;
}

.pure-button-b {
    background: #fcebbd;
    color: #af9540;
}

.pure-button-c,
.pure-button-d,
.pure-button-e {
    border-radius: 8px;
}

.pure-button-f,
.pure-button-g,
.pure-button-h {
    border-radius: 20px;
}

.pure-button-c {
    background: #333;
    color: #fff;
}
.pure-button-d {
    background: #d3eda3;
    color: #72962e;
}

.pure-button-e {
    background: #f5ab9e;
    color: #8c3a2b;
}
.pure-button-f {
    background: #ddaeff;
    color: #8156a7;
}

.pure-button-g {
    background: #f57b00;
    color: #ffca95;
}

.pure-button-h {
    background: #008ed4;
    color: #fff;
}        

/**
 * Head line
 */
.headline {
  text-align: center;
  padding: 0 0.5em;
}

@media screen and (max-width: 775px) {
  .colorbar {
    display: none;
  }

  #appro {
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {
  #container {
    width: 100%;
  } 
}
@media sreen and (max-width: 1020px) {
  #container {
    width: 100%;
  } 
}
