<div class="hero">
  <div class="hero-titles">
  <h2>How it works</h2>  
  </div>
</div>

<div class="pure-g-r"> 
  <div class="pure-u-1-3"> 
    <section class="box">
      <p class="title">Add bookmarklet<span class="icon">Q</span></p>
      <p class="info">Install the Instapaper bookmarklet by dragging it to your bookmark bar.</p>
    </section><!-- END BOX -->
  </div>
  
  
  <div class="pure-u-1-3"> 
    <section class="box">
      <p class="title">Pairing the slide and your iPhone, iPad<span class="icon">a</span></p>
      <p class="info">When you want to control a slide, click on bookmarklet icon. A form will open with a unique number. Enter this number on iPhone/iPad app to pair your phone with slide on browser.</p>
    </section><!-- END BOX -->
  </div>
  
  <div class="pure-u-1-3">
    <section class="boxnomargin">
      <p class="title">Control right on lockscreen.<span class="icon">T</span></p>
      <p class="info">Once connecting, you can control slideshow with navigation button or slider to jump quickly between slideshow. Similiar to Music or Podcast app, you can control slideshow on lockscreen.</p>
    </section><!-- END BOX -->
  </div>
</div>

<div class="hero">
  <div class="hero-titles">
    <h2>Tutorial/Demo</h2>  
  </div>
</div>
<div class="pure-u">
  <iframe width="420" height="315" src="//www.youtube.com/embed/zC1oJmHuxnI" frameborder="0" allowfullscreen></iframe>
</div>

<div class="hero">
  <div class="hero-titles">
    <h2>Feedback</h2>
  </div>
</div>
<div class="pure-g-r">
  <div class="pure-u-1-3">
    <section class="box">
      <p class="title">Customize<span class="icon">P</span></p>
      <p class="info">Share your iPhone's homescreen with the world and inspire. Share your iPhone's homescreen.</p>
    </section><!-- END BOX -->
  </div>
  
  <div class="pure-u-1-3">
    <section class="box">
      <p class="title">Storage<span class="icon">z</span></p>
      <p class="info">Share your iPhone's homescreen with the world and inspire. Share your iPhone's homescreen.</p>
    </section><!-- END BOX -->
  </div>

  <div class="pure-u-1-3">
    <section class="boxnomargin">
      <p class="title">Pixels<span class="icon">"</span></p>
      <p class="info">Share your iPhone's homescreen with the world and inspire. Share your iPhone's homescreen.</p>
    </section><!-- END BOX -->
  </div>        
</div>

<div class="hero">
  <div class="hero-titles">
    <h2 id="section-contact">Contact/Support</h2>
  </div>
</div>
<div class="pure-u">
    <p>
      You can contact us via our twitter, facebook. Or fill the form below and we will got back to you. If you would like 
to send email directly, then we are available at <a href="mailto:qs@axcoto.com">qs@axcoto.com</a>
    </p>
    <form class="pure-form pure-form-aligned" action="/support#section-contact" method="POST">
      <fieldset>
        <legend>Make sure you enter correct email. This form has no validation. </legend>
        <input type="hidden" name="csrf" value="{{.CSRF}}" />
        <div class="pure-control-group">
          <label for="name">Email</label>
          <input id="message-name" name="youremail" type="text" placeholder="Your email address" class="pure-input-2-3" />
        </div>
        <div class="pure-control-group">
          <label for="content">Message</label>
          <textarea id="message-content" name="content" cols="30" rows="10" class="pure-input-2-3"></textarea>
        </div>
        <div class="pure-controls">
            <!--<label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>-->
            <button type="submit" class="pure-button pure-button-primary">Send</button>
        </div>

      </fieldset>
    </form>    
</div>


<!--
	<h2>Drag this bookmarklet to your toolbar:</h2>
    <a id="bookmarklet" href="javascript:(function(){var%20s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('src','//{{.Site.Domain}}/javascripts/require.js');s.setAttribute('data-main','//{{.Site.Domain}}/javascripts/main.js');document.body.appendChild(s);})();">Haku Bookmark</a>

<h2>Hello {{.A}}!</h2>
{{.B}}
We have {{.Site.VisitCount}} installing so far. 
-->

<!--<script type="text/javascript" data-main="scripts/main" src="scripts/require.js"></script>-->
