<div class="hero">
  <div class="hero-titles">
  <h2>How it works</h2>  
  </div>
</div>

<div class=""> 
  <div class="pure-g-r guide"> 
    <figure class="pure-u-2-3 guide__pic">
      <img src="//{{.Site.Domain}}/tuts/1.install.png" width="480" height="auto" alt="Installing bookmarklet" />
    </figure>
    <section class="pure-u-1-3">
      <h1 class="guide__head">1</h1>
      <h2 class="guide__title">Install bookmarklet<span class="icon"></span></h2>
      <p class="info">Install the QSLider bookmarklet by dragging QSlider Bookmarklet button to your bookmark bar. Work on Firefox, Chrome, Safari and IE 10+. That's all. Whenever you need QSLider, just load up this page and drag that button to browser toolbar.</p>
      <p class="info">
        You have to do this only first time you install it.
      </p>

      <p>
        Feel complex, no worry. We got your cover with our <a href="#tutorial" title="Show me">tutorial video</a>
      </p>

      <a target="_blank" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=789606917&mt=8" class="pure-button pure-button-primary pure-button-huge js-download">Download for <span class="bold">iPhone</span></a>

    </section><!-- END BOX -->
  </div>
  
  <div class="pure-g-r guide"> 
    <section class="  pure-u-1-3">
      <h1 class="guide__head">2</h1>
      <h2 class="guide__title">Connecting<span class="icon"></span></h2>
      <p class="info">Open the slideshow on speakerdeck or slideshare. Example, <a href="https://speakerdeck.com/addyosmani/automating-front-end-workflow" title="example" target="_blank">https://speakerdeck.com/addyosmani/automating-front-end-workflow</a>. Click on QSlider bookmarklet icon. A dialog will show up with an unique number as Slideshow ID and a QR code. Either enter that Slide ID in the iOS app, or scan the QR code with the app and you will get connected.</p>
      <p>
        Feel complex, no worry. We got your cover with our <a href="#tutorial" title="Show me">tutorial video</a>
      </p>
      <a target="_blank" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=789606917&mt=8" class="pure-button pure-button-primary pure-button-huge js-download">Download for <span class="bold">iPhone</span></a>

    </section><!-- END BOX -->
    <figure class="pure-u-2-3 guide__pic">
      <img src="//{{.Site.Domain}}/tuts/2.activate.png" width="480" alt="Activate and connect" />
      <img src="//{{.Site.Domain}}/tuts/3.scan.png" width="270" alt="Scan QR Code" />
    </figure>
  </div>
  
  <div class="pure-g-r guide">
    <figure class="pure-u-2-3 guide__pic">
      <img src="//{{.Site.Domain}}/tuts/3.control_1.png" alt="Control with QSlider" />
      <img src="//{{.Site.Domain}}/tuts/3.control_2.png" alt="Control with QSlider" />
    </figure>
    <section class="pure-u-1-3">
      <h1 class="guide__head">3</h1>
      <h2 class="title">Control.<span class="icon"></span></h2>
      <p class="info">Once connecting, you can control slideshow with navigation button or slider to jump quickly between slideshow. Similiar to Music or Podcast app. </p>
      <p class="info"> And even more, you can control slideshow right on lockscreen. Yes, you don&#39;t have to unlock the phone during a presentation.</p>
      <p>
        Feel complex, no worry. We got your cover with our <a href="#tutorial" title="Show me">tutorial video</a>
      </p>
      <a target="_blank" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=789606917&mt=8" class="pure-button pure-button-primary pure-button-huge js-download">Download for <span class="bold">iPhone</span></a>

    </section><!-- END BOX -->
  </div>
</div>

<div class="hero">
  <div class="hero-titles">
    <h2 id="tutorial">Tutorial/Demo</h2>  
  </div>
</div>
<div class="pure-u-1">
  <div class="guide__video">
  <iframe width="640" height="360" src="//www.youtube.com/embed/H9-VjPcbI8Y" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="hero">
  <div class="hero-titles">
    <h2 >Feedback</h2>
  </div>
</div>
<div class="pure-g-r">
  <div class="pure-u-1-3">
    <section class="box">
      <figure class="avatar">
      </figure>
      <h4 class="owner">Tinh Nguyen, <span>Founder of</span> <a href="http://aresta.co">Aresta</a></h4>
      <p class="info">
        Just focus into your job, doing your presentation. The rest work is handled perfectly by QSlider. Easy to navigate, no learning curve, not distract you and your audience from presentation. Five stars.
    </section><!-- END BOX -->
  </div>
  
  <div class="pure-u-1-3">
    <section class="box">
      <figure class="avatar">
      </figure>
      <h4 class="owner">
        Kathy Nguyen, <span>Part Buyer</span>
      </h4>
      <p class="info">Look cool when I'm in a meeting showing my sale slides. I just upload my slide to slideshare, go to the meeting and use my iPhone to control it.</p>
    </section><!-- END BOX -->
  </div>

  <div class="pure-u-1-3">
    <section class="box">
      <h4 class="ownerg">
        Khanh Nguyen, <span>Student</span>
      </h4>
      <p class="info">Very useful app for a student like me. Now I no longer need to deal with a wireless mouse, or have my friend control slide. Get this app and have full control on presentation. Amazing app.</p>
    </section><!-- END BOX -->
  </div>        
</div>



<!--
<div class="hero">
  <div class="hero-titles">
    <h2 id="section-contact">Contact/Support</h2>
  </div>
</div><div class="pure-u">
    <p>
      You can contact us via our twitter, facebook. Or fill the form below and we will got back to you. If you would like 
to send email directly, then we are available at <a href="mailto:qs@axcoto.com">qs@axcoto.com</a>
    </p>
    <form class="pure-form pure-form-aligned" action="//{{.Site.Domain}}/support#main" method="POST">
      <fieldset>
        <legend>Make sure you enter correct email. This form has no validation. </legend>
        <input type="hidden" name="csrf" value="{{.CSRF}}" />
        <div class="pure-control-group">
          <label for="name">Email</label>
          <input id="message-name" name="youremail" type="text" placeholder="Your email address" class="pure-input-2-3" />
        </div>
        <div class="pure-control-group">
          <label for="content">Message</label>
          <textarea id="message-content" name="content" cols="30" rows="10" class="pure-input-2-3"></textarea>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Send</button>
        </div>

      </fieldset>
    </form>    
</div>
-->
<!--
<h2>Hello {{.A}}!</h2>
{{.B}}
We have {{.Site.VisitCount}} installing so far. 
-->
