<!doctype html>
<html lang="en">
<head>
  <meta name="keywords" content="slideshow, remote, control, speakerdeck,
slideshare" />
  <link REL="SHORTCUT ICON" HREF="images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/qslider_m.png">

  <link rel="shortcut icon" href="//{{.Site.Domain}}/images/qslider_xs.png">
  <link rel="icon" sizes="16x16 32x32" href="//{{.Site.Domain}}/images/favicon.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Turn your iDevice into slide remote control">
  <title>QSLider</title>

  <link rel="stylesheet" type="text/css" href="//{{.Site.Domain}}/stylesheets/pure-min.css" />
  <link rel="stylesheet" type="text/css" href="//{{.Site.Domain}}/style.css" />

  <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900"  rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,700,900"  rel='stylesheet' type='text/css'>
  <link href='//{{.Site.Domain}}/themify-icons/themify-icons.css' rel='stylesheet' type='text/css' />

  <meta property="og:title" content="QSlider - Turn your iPhone to a slideshow remote control" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://axcoto.com/qslider" />
  <meta property="og:image" content="//{{.Site.Domain}}/screenshot/IMG_6473.PNG" />
  <meta property="og:site_name" content="Unifying Remote Control for SpeakerDeck and SlideShare" />
  <meta property="fb:admins" content="624804112" />
  <meta property="og:description" content="An iOS app that allows you to control slideshow on SpeakerDeck and SlideShare. Support navigation right on lock screen." />

</head>

<body class="page-front">
  <div class="colorbar pure-g-r">
    <div class="colorbar-yellow pure-u-1-12"></div>
    <div class="colorbar-amber pure-u-1-12"></div>
    <div class="colorbar-orange pure-u-1-12"></div>
    <div class="colorbar-sunset pure-u-1-12"></div>
    <div class="colorbar-red pure-u-1-12"></div>
    <div class="colorbar-fuchsia pure-u-1-12"></div>
    <div class="colorbar-purple pure-u-1-12"></div>
    <div class="colorbar-indigo pure-u-1-12"></div>
    <div class="colorbar-blue pure-u-1-12"></div>
    <div class="colorbar-aqua pure-u-1-12"></div>
    <div class="colorbar-green pure-u-1-12"></div>
    <div class="colorbar-lime pure-u-1-12"></div>
  </div>

	<header id="background"></header>
  
    <section id="main">
      {{if .FlashMessage}}
      <div class="notification">{{.FlashMessage}}</div>
      {{end}}
      {{ yield }}
    </section><!-- END MAIN -->
    
    <footer class="footer">
      <div class="container">
        <div class="pure-g-r">
          <div class="pure-u-1-4">
            <p ><span class="bold">&copy; </span>2014 <a href="http://axcoto.com">Axcoto</a></p>
            <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
          </div>  
          <div class="pure-u-3-4">
            <p>Follow us on <a href="http://twitter.com/kureikain">Twitter</a> or <a href="http://facebook.com/axcoto">Facebook</a> for support and get more update.
            </p>
          </div>
        </div>
      </div>
    </footer><!-- END FOOTER -->


    {{if eq .Site.Env "Production"}}    
      <script src="//{{.Site.Domain}}/javascripts/prod/site-min.js?v=2"></script>
    {{else}}  
      <script src="//{{.Site.Domain}}/javascripts/require.js" data-main="//{{.Site.Domain}}/javascripts/site.js"></script>
    {{end}}

</body>
</html>
