<!doctype html>
<html lang="en">
<head>
  <meta name="keywords" content="six rows, html css iphone theme, iphone sales theme, iphone app theme, iphone app web template" />
  <link REL="SHORTCUT ICON" HREF="images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/images/qslider_m.png">

  <link rel="shortcut icon" href="/images/qslider_xs.png" />
  <link rel="icon" sizes="16x16 32x32" href="/images/favicon.png" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A set of small, responsive CSS modules that you can use in every web project.">
  <title>QSLider</title>

  <link rel="stylesheet" type="text/css" href="//{{.Site.Domain}}/stylesheets/pure-min.css" />
  <link rel="stylesheet" type="text/css" href="//{{.Site.Domain}}/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css' />

  <meta property="og:title" content="QSlider - Turn your iPhone to a slideshow remote control" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://axcoto.com/qslider" />
  <meta property="og:image" content="//{{.Site.Domain}}/screenshot/IMG_6473.PNG" />
  <meta property="og:site_name" content="Unifying Remote Control for SpeakerDeck and SlideShare" />
  <meta property="fb:admins" content="624804112" />
  <meta property="og:description" content="An iOS app that allows you to control slideshow on SpeakerDeck and SlideShare. Support navigation right on lock screen." />

</head>

<body class="page-front">
  <div class="colorbar pure-g-r">
    <div class="colorbar-yellow pure-u-1-12"></div>
    <div class="colorbar-amber pure-u-1-12"></div>
    <div class="colorbar-orange pure-u-1-12"></div>
    <div class="colorbar-sunset pure-u-1-12"></div>
    <div class="colorbar-red pure-u-1-12"></div>
    <div class="colorbar-fuchsia pure-u-1-12"></div>
    <div class="colorbar-purple pure-u-1-12"></div>
    <div class="colorbar-indigo pure-u-1-12"></div>
    <div class="colorbar-blue pure-u-1-12"></div>
    <div class="colorbar-aqua pure-u-1-12"></div>
    <div class="colorbar-green pure-u-1-12"></div>
    <div class="colorbar-lime pure-u-1-12"></div>
  </div>

	<header id="background"></header>
  
  <section id="container">

    <header class="pure-g-r">
      <div class="pure-u-1">
        <h1 class="headline">Turn your iDevices into a slideshow remote control</h1>
      </div>
      <div class="pure-u-1-2">
        <header id="apava"> <!-- app avatar -->
          <img src="/images/qslider_xs.png" width="128" height="128"  alt="QSlider - Turn your phone into a slideshow remote control"/>
          <p>A simple tool to control slideshow on <strong>SpeakerDeck</strong>, <strong>Slideshare</strong>, <strong>Rabbit</strong> and more right on your iPhone, iPod or iPad.</p>
          <a class="pure-button pure-button-primary pure-button-xlarge" href="/download">Download for <span class="bold">iPhone</span></a>
          <p>$1.99 on AppStore for iPhone, iPod, iPad</p>
          <a class="pure-button pure-button-success pure-button-xlarge" href="javascript:(function(){var%20s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('src','//{{.Site.Domain}}/javascripts/require.js');s.setAttribute('data-main','//{{.Site.Domain}}/javascripts/main.js');document.body.appendChild(s);})();">QSlider <span class="bold">bookmarklet</span></a>
          <p>&uarr; Drag this button to your Bookmark Bar</p>
        </header>
      </div>      
      <div class="pure-u-1-2">
          <header id="appro"> <!-- appintro -->
            <img width="270" height="479" data-g-tip="94,92" src="//{{.Site.Domain}}/screenshot/IMG_6473.PNG" alt="Home screen" />
            <img width="270" height="479" data-g-tip="90,91" src="//{{.Site.Domain}}/screenshot/IMG_6474.PNG" alt="Home screen" />
            <img width="270" height="479" data-g-tip="104,230" src="//{{.Site.Domain}}/screenshot/IMG_6475.PNG" alt="Control screen" />
            <img width="270" height="479" data-g-tip="170,364" src="//{{.Site.Domain}}/screenshot/IMG_6476.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="170,364" src="//{{.Site.Domain}}/screenshot/IMG_6477.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="46,370" src="//{{.Site.Domain}}/screenshot/IMG_6478.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="46,370" src="//{{.Site.Domain}}/screenshot/IMG_6479.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="221,425" src="//{{.Site.Domain}}/screenshot/IMG_6480.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="31,424" src="//{{.Site.Domain}}/screenshot/IMG_6481.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="115,319" src="//{{.Site.Domain}}/screenshot/IMG_6482.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="155,352" src="//{{.Site.Domain}}/screenshot/IMG_6483.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="191,91" src="//{{.Site.Domain}}/screenshot/IMG_6484.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="191,91" src="//{{.Site.Domain}}/screenshot/IMG_6485.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="191,91" src="//{{.Site.Domain}}/screenshot/IMG_6486.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="191,91" src="//{{.Site.Domain}}/screenshot/IMG_6487.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="70,91" src="//{{.Site.Domain}}/screenshot/IMG_6488.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="191,91" src="//{{.Site.Domain}}/screenshot/IMG_6489.PNG" alt="Control right on lock screen" />
            <img width="270" height="479" data-g-tip="171,374" src="//{{.Site.Domain}}/screenshot/IMG_6490.PNG" alt="Control right on lock screen" />
          </header>
        </div>    
      </header>

      <section id="main">
        {{if .FlashMessage}}
        <div class="notification">{{.FlashMessage}}</div>
        {{end}}
        {{ yield }}
      </section><!-- END MAIN -->
      <footer class="pure-g-r">
        <div class="pure-u-1-4">
          <p ><span class="bold">&copy; <a href="http://axcoto.com">Axcoto</a></span></p>
          <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </div>  
        <div class="pure-u-3-4">
          Follow us on twitter or facebook for support and get more update.<br />
          <a href="http://twitter.com/axcoto">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://facebook.com/axcoto">Facebook</a>
        </div>
              </footer><!-- END FOOTER -->

    </section><!-- END CONTAINER -->
    <script src="/javascripts/require.js" data-main="//{{.Site.Domain}}/javascripts/site.js"></script>
</body>
</html>
