Hi {{.User.FirstName}},

I'm Vinh, creator of QSlider, an iOS app enable you to control slide on
slideshare.com from your iPhone/iPod/iPad. 

I noticed that you has some slides on http://slideshare.com. My <a
href="">QSlider app</a> can help you with that.

 
