Hi {{.User.FirstName}},

I see that you are a speaker on lanyrd.com. I'm building an iOS app that enable
you to contrl slide with your iPhone. You can upload your slide to presentation
services like: http://slideshare.net, or http://speakerdeck.com and use my app
to go through the slide.

If you want to try out the app first, I'm happy to send you an Promo code. 

---
Kurei

https://axcoto.com/qslider/

 
